<%= render partial: "shared/page_header", locals: { header: @user.username + "'s favorites" } %>

<%= render partial: "shared/user_sidebar", locals: { user: @user } %>

<div class="span8">
  <% if @favorited_items.empty? %>
    <h4>You have no favorites</h4>
  <% else %>
    <% @favorited_items.each do |item| %>
      <%= render partial: "shared/item", locals: { item: item } %>
    <% end %>
  <% end %>
</div>
