<%= render partial: "shared/category_sidebar" %>

<div class="span9">
  <% @items.each do |item| %>
    <% next if item.purchased %>
    <%= render partial: "shared/item", locals: { item: item } %>
  <% end %>
</div>