<div class="categories">
  <ul>
    <% @categories.each do |category| %>
      <li><%= link_to category.name, "#" %></li>
    <% end %>
  </ul>
</div>

<div class="items">
  <% @items.each do |item| %>
    <div class="item">
      <%= link_to item.title, item_url(item) %>
    </div>
  <% end %>
</div>