<!-- this needs to have a partial for the sidebar, and for each item -->

<div class="categories">
  <ul>
    <% @categories.each do |category| %>
      <li><%= link_to category.name, "#" %></li>
    <% end %>
  </ul>
</div>

<div class="items">
  <% @items.each do |item| %>
    <%= render partial: "shared/item", locals: { item: item } %>
  <% end %>
</div>